{% extends 'base.html' %}

{% block title %}Course | View {% endblock %}
{% block content %}


{% if position == 'one' %}

<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Name: <mark><i>{{ root.name }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Mentor: <mark><i>{{ root.mentor }}</i></mark></h4>
    </div>
</div>

<hr class="border-warning" >


<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Cursga Tegishli Guruhlar listi</h6>
        </div>
        {% if groups %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in groups %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.name }}</td>
                            {% if i.status == 1 %}
                                <td><mark class="text-info">Boshlanmoqda</mark></td>
                            {% elif i.status == 2 %}

                                <td><mark class="text-success">Davom Qilyabdi</mark></td>
                            {% elif i.status == 3 %}
                                <td><mark class="text-warning">Guruh Yopilgan</mark></td>
                            {% else %}
                                <td><mark class="text-danger">Aniq Emas</mark></td>
                            {% endif %}

                            <td>
                                <a href="#" title="Manage Group" class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'admin-group-one' group_id=i.id %}" title="Group Info" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                       {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Bu kursga tegishli hech qanday guruh topilmadi</h6>
        </div>
        {% endif %}
    </div>

<div class="card mb-4 border-bottom-warning">
    <div class="card-body">

        <a href="{% url 'admin-course' %}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Listlarga qaytish</span>
        </a>
        <a href="{% url 'home' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-home"></i>
            </span>
            <span class="text">Bosh Menu</span>
        </a>
    </div>
</div>

{% else %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-warning">Kurslar Ro'yxati</h6>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if error %}
            <h5 class="m-0 font-weight-bold text-danger">Qandaydir Xatolik</h5>
            {% endif %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Name</th>
                        <th>Mentor</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in courses %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.mentor }}</td>
                        <td>
                            <a href="{% url 'admin-course-edit' edit_id=i.id %}" title="Edit Course" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'admin-course-one' pk=i.id %}" title="Member Info" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                    </tr>
                   {% endfor %}

                </tbody>

            </table>
             <a href="#" class="btn btn-warning bg-gradient-warning btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Yangi Kurs Qo'shish</span>
            </a>
             <a href="{% url 'home' %}" class="btn btn-secondary bg-gradient-dark btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-home"></i>
                </span>
                <span class="text">Bosh Menu</span>
            </a>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}