{% extends 'base.html' %}
{% block title %}Admin | Main{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bo'limlar</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-student' %}">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                O'quvchilar</div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Umumiy <mark>{{ cnts.scnt }}</mark> ta </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-group' %}">

                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Guruhlar</div>
                            </a>

                            <div class="h5 mb-0 font-weight-bold text-gray-800">Active & Starting <mark>{{ cnts.agcnt }}</mark> ta </div>
                        </div>

                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-mentor' %}">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Mentorlar</div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Active <mark>{{ cnts.tcnt }}</mark> ta </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-course' %}">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Kurslar</div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Hammasi <mark>{{ cnts.ccnt }}</mark> ta </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Yangiliklar</h1>
    </div>

    {% include 'ads.html' %}

</div>








{% endblock %}