{% extends 'base.html' %}
{% block title %}Admin | Main{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bo'limlar</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-student' %}">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                O'quvchilar</div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Umumiy <mark>{{ cnts.scnt }}</mark> ta </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-group' %}">

                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Guruhlar</div>
                            </a>

                            <div class="h5 mb-0 font-weight-bold text-gray-800">Active & Starting <mark>{{ cnts.agcnt }}</mark> ta </div>
                        </div>

                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-mentor' %}">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Mentorlar</div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Active <mark>{{ cnts.tcnt }}</mark> ta </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-course' %}">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Kurslar</div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Hammasi <mark>{{ cnts.ccnt }}</mark> ta </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card mb-4">
                {% if new_joined %}
                    <div class="card-header m-0 font-weight-bold bg-warning">
                        Yangi qo'shilganlar
                    </div>
                {% else %}
                    <div class="card-header m-0 font-weight-bold">
                        Yangi qo'shilganlar
                    </div>
                {% endif %}
                <div class="card-body">
                    {% if new_joined %}
                        {% for i in new_joined %}
                            {% if forloop.counter < 3 %}
                                <mark>{{ i }}</mark>
                            {% endif %}
                        {% endfor %}
                        {% if cnt_joined != 0 %}
                             va yana <mark> {{ cnt_joined }} </mark>ta yangi qo'shilgan a'zolar ruxsat kutishyabdi
                        {% else %}
                            Sizlarning saytdan foydalanishiga ruxsat berishingizni kutyabdilar
                        {% endif %}

                    {% else %}
                        <i class="text-success">Hozircha hech qanday saytga yangi qo'shilgan a'zolar yo'q</i>
                    {% endif %}

                </div>
            </div>

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3  bg-info">
                    <h6 class="m-0 font-weight-bold">Davomat</h6>
                </div>
                <div class="card-body">
                    Guruhlarning kunlik davomat tizimini tez va osonroq boshqarib turish uchun
                    tezkor panel

                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center bg-warning justify-content-between">
                    <h6 class="m-0 font-weight-bold">Yangi Yozilgan odamlar</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Yangi qiziquvchi. Turli referal idlar orqali kurslarga yozilgan qiziquvchilarni boshqarib turish
                    uchun ular bilan tezkor bog'lanish uchun panel

                </div>
            </div>

            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a class="d-block card-header py-3"
                    role="button" aria-expanded="true" >
                    <h6 class="m-0 font-weight-bold text-primary">Parollar Boshqaruvi</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        This is a collapsable card example using Bootstrap's built in collapse
                        functionality. <strong>Click on the card header</strong> to see the card body
                        collapse and expand!
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>








{% endblock %}