{% extends 'base.html' %}


{% block title %} Students | Profile {% endblock %}
{% block content %}

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>To'lliq Ism:   <mark><i>{{ member }} {% if member.middlename %} {{ member.middlename }} {% endif %}</i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Telefon raqam:  <mark><i>{{ member.phone_number }}</i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Nickname:  <mark><i>{{ member.user.nickname }}</i></mark> <h6>#hozircha nickname uniqe emas</h6></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Tug'ulgan sana:  <mark><i>{{ member.birthday | date:'d-F, Y' }} Year</i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Jinsi:  <mark><i> {% if  member.gender %} Erkak {% else %} Ayol {% endif %}</i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Saytga Qo'shilgan sana:  <mark><i> {{ member.join_date | date:'d-F, Y' }} Year</i></mark></h4>
    </div>
</div>


<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Passport Ma'lumotlari:  <mark><i> {{ member.pass_serial }} </i></mark></h4>
    </div>
</div>


<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Lavozim:  <mark><i> {{ member.position }} </i></mark></h4>
    </div>
</div>


<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Holat:  <mark><i>{% if member.status == 1 %} Faol emas {% elif member.status == 2 %} Faol
            {% elif member.status == 3 %} Mavjud emas {% else %} Aniq Emas {% endif %} </i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Status:  <mark><i>
            {% if member.permission == 2 %}
                Mentor | O'qituvchi
            {% elif member.permission == 1 %}
                O'quvchi
            {% elif member.permission == 3 %}
                Admin
            {% elif member.permission == 0 %}
                Yangi qo'shilgan
            {% else %}
                Aniq Emas
            {% endif %}
        </i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-primary">
    <div class="card-body">
        <h4>Joylashuv:  <mark><i> {{ member.region }} {{ member.district }}</i></mark></h4>
    </div>
</div>


<div class="card mb-4 border-bottom-info">
    <div class="card-body">
        <a href="{% url 'student-new' %}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-edit"></i>
            </span>
            <span class="text">Edit Profile</span>
        </a>
        <a href="{% url 'home' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-home"></i>
            </span>
            <span class="text">Back To Home</span>
        </a>
    </div>
</div>


{% endblock %}








